%p
  %b Last name:
  = @guest.last_name

%p
  %b First name:
  = @guest.first_name

%p
  %b Date of birth
  = @guest.date_of_birth
  %b, birthplace:
  = @guest.birthplace

%p
  %b Telephone number:
  = @guest.telephone_number

%p
  %b E-mail address:
  = @guest.email